* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

.tada {
  background: #fff4ea;
  border-radius: 2px;
  margin-top: 3.0rem;
  padding: 1em;
  line-height: 1.375;
  font-size: 0.875rem;
}
